.backgroundmain {
  height: 700px;
  width: 100%;
  background: url(../img/yoga1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}

h1 {
  padding-top: 150px;
  font-size: 60px;
  text-align: center;
  color: antiquewhite;
  text-shadow: 2px 2px black;
}

h2 a {
  color: #9b87dc;
  text-decoration: none;
}
h2 a:hover {
  color: #F493E7;
  text-decoration: underline;
}

.card-container {
  display: flex;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 2px solid #f1f1f1;
  perspective: 1000px;
  margin-left: 150px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #9b87dc;
  color: white;
  transform: rotateY(180deg);
}

.card-links {
  font-size: 30px;
  color: antiquewhite;
  text-decoration: none;
}
.card-links:hover {
  text-decoration: underline;
  color: #F493E7;
}

.card-p {
  font-size: 24px;
}

.card-p-bis {
  font-size: 19px;
  color: whitesmoke;
}

.flip-card-2 {
  margin-left: 250px;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 2px solid #f1f1f1;
  perspective: 1000px;
}

footer {
  position: relative;
  width: 100%;
  background: #9b87dc;
  min-height: 100px;
  padding: 20px 50px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon li,
.menu-footer li {
  list-style: none;
}

.social-icon li a {
  font-size: 2em;
  color: antiquewhite;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon li a:hover {
  transform: translateY(-10px);
}

.menu-footer li a {
  font-size: 1.2em;
  color: antiquewhite;
  margin: 0 30px;
  display: inline-block;
  text-decoration: none;
}
.menu-footer li a:hover {
  text-decoration: underline;
  color: #F493E7;
}

.copyright {
  color: antiquewhite;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.backgroundAlimentacion {
  background: url(../img/alimentacion.jpeg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 100%;
  margin-top: 30px;
}

.backgroundAlimentacionDiaria {
  background: url(../img/alimentacion2.jpeg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
}

img {
  width: 100%;
  height: auto;
}

.blogImageHead {
  margin-top: 30px;
  margin-bottom: 40px;
}

.articulodelblog {
  color: #F493E7;
}
.articulodelblog:hover {
  text-decoration: underline;
  color: #9b87dc;
}

p {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*espacio para centrar los links del blog*/
.backgroundMeditacion {
  background: url(../img/meditacion.jpeg);
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.backgroundKundalini {
  background: url(../img/meditacion2.jpeg);
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.backgroundYoga {
  background: url(../img/yoga3.jpeg);
  margin-top: 60px;
}

.backgroundYogaFlow {
  background: url(../img/yoga4.jpeg);
  margin-top: 60px;
  height: 500px;
}

/*# sourceMappingURL=estilo.css.map */
