@use 'componentes';

.card-body {
    padding: 60px;
    display: flex;
    gap: 30px;
}

.card-title {
    color: $color-main;
}

.card-link {
    color: $color-second;
    text-decoration: none;
    font-size: 200px;

     &:hover {
        color: $color-main;
        text-decoration: underline;
     }
}
